* {
  padding: 0;
  margin: 0;
}

.body {
  background: url("../images/bg.jpg");
  min-height: 100vh;
  background-size: 100vw 100vh;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
}

#scoreCard {
  position: absolute;
  top: 9px;
  right: 200px;
  font-size: 28px;
  font-weight: bold;
}

#hiScoreCard {
  position: absolute;
  top: 60px;
  right: 140px;
  font-size: 28px;
  font-weight: bold;
}

#board {
  /* background: linear-gradient(rgb(170, 236, 170), rgb(236, 236, 167)); #85ad00 */
  background-color: #C3FF99;
background-image: url("https://www.transparenttextures.com/patterns/arches.png");
  width: 90vmin;
  height: 90vmin;
  border: 2px solid black;
  display: grid;
  grid-template-rows: repeat(18, 1fr);
  grid-template-columns: repeat(18, 1fr);
}

.snake-head {
  background: linear-gradient(#3120E0, #C1EFFF);
  border: 1px solid #3120E0;
  border-radius: 8px;
  transform: scale(1.02); //to increase size by 2%
}

.snake-body {
  background: linear-gradient(#59CE8F, #224B0C);
  border: .25vmin solid white;
  border-radius: 12px;
}

.food {
  background: linear-gradient(#D61C4E, #FFB4B4);
  border: .25vmin solid #D61C4E;
  border-radius: 50%;
}
